@import "../../../assets/styles/variables.sass"

.movie
    display: inline-block
    &__rating
        @apply absolute -ml-2 -mt-1 px-2 py-0.5 z-10 text-white text-center
        background: $primary-gradient
        border-radius: 3px
        box-shadow: 4px 6px 12px 0px rgba(26, 26, 26, 0.342)
    
    &__poster
        @apply overflow-hidden
    
    &__heading
        @apply text-white pb-3 font-bold text-base text-center
    
    &:hover
        transform: translateY(-0.2em)
        transition: .6s
        box-shadow: 13px 16px 11px rgba(81, 0, 255, 0.098)
        .movie
            &__heading
                @apply text-primary
                transition: .3s