@keyframes comment
    from 
        background: linear-gradient(244.69deg, rgba(193, 117, 255, 0.199) 24.58%, rgba(193, 164, 255, 0.313) 33.56%, rgba(134, 104, 255, 0.299) 54.55%)
    to 
        background: linear-gradient(244.69deg, rgba(205, 151, 249, 0.199) 24.58%, rgba(209, 187, 254, 0.313) 33.56%, rgba(138, 110, 252, 0.299) 54.55%)

.comment
    animation: comment 2s infinite
    @apply p-4 my-6
    
    color: #222222
    &__author
        @apply flex items-center pb-3 
        img 
            @apply rounded
        &__info
            @apply pl-3
            h4
                @apply font-bold text-lg
    &__description
    
