.movie_page
    @apply flex pt-2
    &__poster
        margin-right: 2em
        border-radius: 10px
        background: rgba(81, 0, 255, 0.114)
        box-shadow: 14px 16px 10px rgba(81, 0, 255, 0.114)
        img
            border-radius: 10px
            
    &__info
        h1
            @apply font-bold text-4xl pb-4
        h3
            @apply font-bold text-3xl pb-4 text-green-600
        h2
            @apply font-bold text-2xl pb-4 
    
    ul > li > span
        @apply font-bold text-xl
