.input
    @apply relative block mb-4

    > input
        @apply px-2 py-1 w-full border-b text-base
        outline: none

        &::placeholder
            color: #797979

.error
    @apply absolute -bottom-5 left-0 w-full text-primary
    font-size: 0.75rem